<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Page List</title>
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
</head>
<body>
    <h1>List of Access Records:</h1>

    <div class="djantwo">
        {% if access_records %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Data Accessed</th>
                </thead>
                {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND!!!</p>
        {% endif %}
    </div>
</body>
</html>